.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>.welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        font-size: 30px;
    }

}